.container {
  &-box {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
  }
  &-h2 {
    display: block;
  }
  &-buttons {
    display: block;
    button {
      margin: 5px;
    }
  }
}