.day-block {
  width: 12%;
  height: 120px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 3px rgba(0,0,0,0.24);
  &__number, &__title {
    margin: 5px;
  }
  &__container {
    height: 100%;
    width: 100%;
  }
}